extends baseEmail

block content
    .email-container
        h2.email-header Password Successfully Reset ✅

        p.email-content Hi #{userName},

        p.email-content Your password has been successfully reset.

        .success-notice
            p If you did not make this change, please contact our support team immediately.

        p.email-footer
            | Best regards,
            br
            | Clinic Team