extends baseEmail

block content
    .email-container
        h2.email-header Password Reset Request

        p.email-content Hi #{userName},

        p.email-content We received a request to reset your password. Click the button below to create a new password:

        .button-container
            a.button(href=url) إعادة تعيين كلمة المرور

        p.copy-link-section
            | Or copy and paste this link into your browser:
            br
            a(href=url)= url

        .security-notice
            p
                strong ⚠️ Security Notice:
            ul
                li This link expires in #[strong 10 minutes]
                li If you didn't request this, ignore this email
                li Your password won't change until you click the link above

